.article-entry
  blockquote
    border: 1px solid #ddd
    border-left: 4px solid #ddd
    padding: 0 20px
    margin: 20px 0
    position: relative

    @media (min-width: 769px)
      &
        margin-left: 40px;

    &:before
      fa-icon-content: fa-quote-left
      position: absolute
      left: -40px
      top: 20px
      font-size: 25px
      width: 25px
      height: 25px
      text-align: center
      color: #ddd

    footer
      margin: 1em 0
      font-style: italic

      cite
        &:before
          content: "—"
          padding: 0 0.3em
        a
          color: #999
