/*!
 * "Fork me on GitHub" CSS ribbon v0.1.1 | MIT License
 * https://github.com/simonwhitaker/github-fork-ribbon-css
*/

box-shadow()
  -webkit-box-shadow: arguments
  -moz-box-shadow: arguments
  box-shadow: arguments

transform()
  -webkit-transform: arguments
  -moz-transform: arguments
  -ms-transform: arguments
  -o-transform: arguments
  transform: arguments

/* Left will inherit from right (so we don't need to duplicate code) */
.ribbon
  /* The right and left classes determine the side we attach our banner to */
  position: absolute;

  /* Add a bit of padding to give some substance outside the "stitching" */
  padding: 2px 0;

  /* Set a gradient: transparent black at the top to almost-transparent black at the bottom */
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.15)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));

  /* Add a drop shadow */
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);

  /* Set the font */
  font: 700 13px "Helvetica Neue", Helvetica, Arial, sans-serif;

  z-index: 9999;
  pointer-events: auto;

  /* Set the base colour */
  background-color: #333;

  &.color-0
    color: #333
  &.color-1
    color: #A00
  &.color-2
    color: #A30
  &.color-3
    color: #A60
  &.color-4
    color: #A80
  &.color-5
    color: #AA0
  &.color-6
    color: #3A0
  &.color-7
    color: #0A3
  &.color-8
    color: #0A8
  &.color-9
    color: #06A
  &.color-A
    color: #01A
  &.color-B
    color: #40A
  &.color-C
    color: #A0A

  a, a:hover
    /* Set the text properties */
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
    text-align: center;

    /* Set the geometry. If you fiddle with these you'll also need
       to tweak the top and right values in .ribbon. */
    width: 200px;
    line-height: 20px;

    /* Set the layout properties */
    display: inline-block;
    padding: 2px 0;

    /* Add "stitching" effect */
    border-width: 1px 0;
    border-style: dotted;
    border-color: #fff;
    border-color: rgba(255, 255, 255, 0.7);

.ribbon-wrapper
  width: 150px;
  height: 150px;
  position: absolute;
  overflow: hidden;
  top: 0;
  z-index: 9999;
  pointer-events: none;

  &.relative
    position: relative;

  &.fixed
    position: fixed;

  &.left
    left: 0;

    .ribbon
      top: 42px;
      left: -43px;

      transform: rotate(-45deg);

  &.right
    right: 0;

    .ribbon
      top: 42px;
      right: -43px;

      transform: rotate(45deg);

  &.left-bottom
    position: fixed;
    top: inherit;
    bottom: 0;
    left: 0;

    .ribbon
      top: 80px;
      left: -43px;

      transform: rotate(45deg);

  &.right-bottom
    position: fixed;
    top: inherit;
    bottom: 0;
    right: 0;

    .ribbon
      top: 80px;
      right: -43px;

      transform: rotate(-45deg);
