// TODO Dirty implementation, clean and refactor needed
transition-time = 1.2s

#container
  #header
    transition: height transition-time

    #header-title
      transition: top transition-time

    #banner
      transition: filter transition-time

  &.splash
    #header
      height: 100%

      #header-title
        top: 80%
        @media mq-mobile
          top 70%

      #banner
        filter: none

      #splash-nav a
        opacity: .6
