top-shadows = 0 0 1px rgba(0, 0, 0, .1),
              0 2px 10px 0 rgba(0, 0, 0, 0.16),
              0 6px 20px 0 rgba(0, 0, 0, 0.19),
              0 17px 50px 0 rgba(0, 0, 0, 0.19),
              0 25px 55px 0 rgba(0, 0, 0, 0.21),
              0 40px 77px 0 rgba(0, 0, 0, 0.22)

bottom-shadows = 0 0 1px rgba(0, 0, 0, .1),
                 0 2px 5px 0 rgba(0, 0, 0, 0.26),
                 0 8px 17px 0 rgba(0, 0, 0, 0.2),
                 0 12px 15px 0 rgba(0, 0, 0, 0.24),
                 0 16px 28px 0 rgba(0, 0, 0, 0.22),
                 0 27px 24px 0 rgba(0, 0, 0, 0.2)

material-z-index(n)
  if n < 0
    box-shadow: top-shadows[0], top-shadows[0]
  else if n <= 5
    box-shadow: top-shadows[n], bottom-shadows[n]
  else
    box-shadow: top-shadows[5], bottom-shadows[5]

material-border-radius = 3px

material-hover-z-index(n)
  @extend .material-transition
  &:hover
    transition-delay: .2s
    material-z-index: n

.material-transition
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1)

.material-round-border
  border-radius: material-border-radius

.material-card
  @extend .material-round-border
  material-z-index: 0
  background: #fff


for i in (0..5)
  .material-z-index-{i}
    material-z-index: i

  .material-hover-z-index-{i}
    material-hover-z-index: i
