@font-face
  font-family: FontAwesome
  font-style: normal
  font-weight: normal
  src: url(font-icon-path + ".eot?v=#" + font-icon-version)
  src: url(font-icon-path + ".eot?#iefix&v=#" + font-icon-version) format("embedded-opentype"),
       url(font-icon-path + ".woff?v=#" + font-icon-version) format("woff"),
       url(font-icon-path + ".ttf?v=#" + font-icon-version) format("truetype"),
       url(font-icon-path + ".svg#fontawesomeregular?v=#" + font-icon-version) format("svg")

fa-icon-content(icon)
  content: icon
  font-family: font-icon

  vertical-align: baseline

fa-icon(icon, padding = 8px)
  &:before
    padding-right: padding
    fa-icon-content(icon)

@keyframes fa-spin
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(359deg)

.fa-spin
  animation: fa-spin 2s infinite linear

fa-6 = 20em
fa-5 = 12em
fa-4 = 7em
fa-3 = 4em
fa-2 = 2em
fa-1 = 1em

fa-bookmark = "\f02e"
fa-list-alt = "\f022"
fa-calendar = "\f073"
fa-tag = "\f02b"
fa-paragraph = "\f1dd"
fa-arrow-down = "\f063"
fa-arrow-up = "\f062"
fa-info = "\f129"
fa-thumbs-o-up = "\f087"
fa-heart = "\f004"
fa-eye = "\f06e"
fa-bolt = "\f0e7"
fa-trophy = "\f091"
fa-gear = "\f013"

fa-linkedin = "\f0e1"
color-linkedin = #007bb6

fa-github-alt = "\f113"
color-github = #F6F6F6

fa-twitter = "\f099"
color-twitter = #00aced

fa-facebook = "\f09a"
color-facebook = #3b5998

fa-pinterest = "\f0d2"
color-pinterest = #cb2027

fa-google-plus = "\f0d5"
color-google = #dd4b39
