<% if (site.posts.length){ %>
  <div class="widget-wrap">
    <a href="/archives">
      <h3 class="widget-title"><%= __('archive_a') %></h3>
    </a>
    <div class="widget archive-list">
      <%- list_archives({show_count: theme.show_count, type: theme.archive_type}) %>
    </div>
  </div>
<% } %>
