<% if (site.categories.length){ %>
  <div class="widget-wrap">
    <a href="/categories">
      <h3 class="widget-title"><%= __('categories') %></h3>
    </a>
    <div class="widget category-list">
      <%- list_categories(theme.categories) %>
    </div>
  </div>
<% } %>
