.widget-wrap
  h3.widget-title About Me
  .widget.self-intro
    img(src="/images/avatar.png")
    p Tim is
    ul.description
      li a
        span geek
      li an spare-time
        span web developer
      li a part-time
        span mobile developer
      li a night-time
        span photographer
      li an early-time
        span pcb solderer

    ul.social-links
      li: a.linked-in(href="https://linkedin.com/in/timwen", target="_blank")
      li: a.twitter(href="https://twitter.com/timnew", target="_blank")
      li: a.github(href="https://github.com/timnew", target="_blank")
