<% if (site.tags.length){ %>
  <div class="widget-wrap">
    <a href="/tags">
      <h3 class="widget-title"><%= __('tags') %></h3>
    </a>
    <div class="widget">
      <%- list_tags({show_count: theme.show_count}) %>
    </div>
  </div>
<% } %>
