<% if (site.tags.length){ %>
  <div class="widget-wrap">
    <a href="/tags">
      <h3 class="widget-title"><%= __('tagcloud') %></h3>
    </a>
    <div class="widget tagcloud">
      <%- tagcloud(theme.tagcloud) %>
    </div>
  </div>
<% } %>
